workflowsScratch - Dev: O365 Download Email Attachments copy.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get Folder Details: Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Messages in Folder": {
      "main": [
        [
          {
            "node": "Email has Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Details: Inbox": {
      "main": [
        [
          {
            "node": "List Messages in Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachments": {
      "main": [
        [
          {
            "node": "Do not include Inline Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do not include Inline Attachments": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Attachment": {
      "main": [
        [
          {
            "node": "Set s3Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email has Attachments": {
      "main": [
        [
          {
            "node": "Get Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email without Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S3": {
      "main": [
        [
          {
            "node": "IF Upload Successfully",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Upload Successfully": {
      "main": [
        [
          {
            "node": "Post request to XEN Watcher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post request to XEN Watcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set s3Filename": {
      "main": [
        [
          {
            "node": "Set s3 Bucketname",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post request to XEN Watcher": {
      "main": [
        [
          {
            "node": "AWS Delete file in S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set s3 Bucketname": {
      "main": [
        [
          {
            "node": "AWS S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Download Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - Every 1 Minute(s)": {
      "main": [
        [
          {
            "node": "Get Folder Details: Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email without Attachment": {
      "main": [
        [
          {
            "node": "Post request to XEN Watcher (without an Attachment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-15T17:06:20.302Z",
  "id": "7",
  "name": "Scratch - Dev: O365 Download Email Attachments copy",
  "nodes": [
    {
      "parameters": {},
      "id": "e5a373d4-11cb-4e10-98fa-d5f210f3d1a5",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        740
      ]
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "operation": "getAll",
        "folderId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "id": "344344d7-1801-482f-8f17-31f795356091",
      "name": "List Messages in Folder",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        380,
        600
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "Inbox",
        "additionalFields": {}
      },
      "id": "9200b245-1532-4371-851e-2f375ba086e2",
      "name": "Get Folder Details: Inbox",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        160,
        600
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "id": "df7a72d9-5ca1-4b0b-9c0f-067f198133e9",
      "name": "Get Attachments",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        1060,
        400
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $json.s3Bucket }}",
        "fileName": "={{ $json.s3Filename }}",
        "additionalFields": {}
      },
      "id": "2fcca931-09bc-4abe-a87d-e05e2bd86919",
      "name": "AWS S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        2020,
        900
      ],
      "credentials": {
        "aws": {
          "id": "14",
          "name": "AWS - Demo - tma.demo.s3"
        }
      }
    },
    {
      "parameters": {
        "content": "## To Do\nAdd check to see if Watcher API is available. If not leave the emails where they are and try later.\n",
        "height": 118,
        "width": 323
      },
      "id": "0301d437-805b-4b0e-8d0d-41c7f4bd860e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isInline }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "465ae6dc-538e-4896-88d4-aeebb3e1fe8c",
      "name": "Do not include Inline Attachments",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1200,
        180
      ]
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": "={{ $('List Messages in Folder').item.json.id }}",
        "attachmentId": "={{ $json.id }}"
      },
      "id": "b7446458-9331-4cd5-95b6-ff0d582f6c74",
      "name": "Download Attachment",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        1600,
        180
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasAttachments }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ef8af2f6-0260-4a96-9c53-9ecfb5febcde",
      "name": "Email has Attachments",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        560
      ]
    },
    {
      "parameters": {},
      "id": "0d8fc162-81d5-472c-b61a-0b7a3c7ca835",
      "name": "IF Upload Successfully",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1940,
        1240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9860-84-9-98-154.ngrok-free.app/new-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mailbox\": \"dev.import@three-media.tv\"\n} ",
        "options": {}
      },
      "id": "f6d1e5ea-4882-4f52-8a03-7815fdfcbd05",
      "name": "Post request to XEN Watcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1460,
        1180
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "s3Filename",
              "value": "=fileIngest/{{$now.toMillis()}} - {{ $json.name }} "
            }
          ]
        },
        "options": {}
      },
      "id": "5033d5cf-3813-472b-9d02-3e613750cbd9",
      "name": "Set s3Filename",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1800,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9860-84-9-98-154.ngrok-free.app/new-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"attachment\": null,\n  \"mailbox\": \"dev.import@three-media.tv\"\n}",
        "options": {}
      },
      "id": "d9dad57c-1e17-43ad-97c5-9fcf98d69e50",
      "name": "Post request to XEN Watcher (without an Attachment)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1260,
        920
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "bucketName": "={{ $('Set s3 Bucketname').item.json.s3Bucket }}",
        "fileKey": "={{ $('Set s3Filename').item.json.s3Filename }}",
        "options": {}
      },
      "id": "aafc0f47-da62-45a5-8365-2f0351750f68",
      "name": "AWS Delete file in S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        800,
        1080
      ],
      "credentials": {
        "aws": {
          "id": "14",
          "name": "AWS - Demo - tma.demo.s3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "s3Bucket",
              "value": "=tma-ryan-505506971371"
            }
          ]
        },
        "options": {}
      },
      "id": "18f683ea-97e1-4504-ba75-e851f41ca553",
      "name": "Set s3 Bucketname",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1760,
        680
      ]
    },
    {
      "parameters": {},
      "id": "0b9855dc-32a2-40f7-bf8b-2538f59ef0d6",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "049887ad-b8db-45d2-a597-b5bd27f96dd7",
      "name": "Schedule Trigger - Every 1 Minute(s)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        500
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "6aa703f6-4c03-43fa-8714-a92e570505a6",
      "name": "Email without Attachment",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1080,
        660
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-06-15T11:16:46.546Z",
      "updatedAt": "2023-06-15T11:16:46.546Z",
      "id": "1",
      "name": "Playground"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-06-15T18:28:25.597Z",
  "versionId": "aa77aca6-ae58-481a-b664-3fe5974cddcd"
}