workflows/Dev: O365 Download Emails Attachments.json
{
  "active": true,
  "connections": {
    "List Messages in Folder": {
      "main": [
        [
          {
            "node": "Standard JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Details: Inbox": {
      "main": [
        [
          {
            "node": "IF Inbox has unread messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachments": {
      "main": [
        [
          {
            "node": "Do not include Inline Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do not include Inline Attachments": {
      "main": [
        [
          {
            "node": "Download Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Attachment": {
      "main": [
        [
          {
            "node": "Set s3Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S3": {
      "main": [
        [
          {
            "node": "IF Upload Successfully",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Upload Successfully": {
      "main": [
        [
          {
            "node": "Post request to XEN Watcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set s3Filename": {
      "main": [
        [
          {
            "node": "Set s3 Bucketname",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post request to XEN Watcher": {
      "main": [
        [
          {
            "node": "AWS Delete file in S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set s3 Bucketname": {
      "main": [
        [
          {
            "node": "AWS S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook - Mark as Read": {
      "main": [
        [
          {
            "node": "Microsoft Outlook - Move to Ingested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Delete file in S3": {
      "main": [
        [
          {
            "node": "Microsoft Outlook - Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email without Attachment": {
      "main": [
        [
          {
            "node": "Post request to XEN Watcher (without an Attachment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post request to XEN Watcher (without an Attachment)": {
      "main": [
        [
          {
            "node": "Microsoft Outlook - Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Inbox has unread messages": {
      "main": [
        [
          {
            "node": "List Messages in Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Emails, do nothing. Exit.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Details: Inbox1": {
      "main": [
        [
          {
            "node": "IF Inbox has unread messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Inbox has unread messages1": {
      "main": [
        [
          {
            "node": "List Messages in Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Messages in Folder1": {
      "main": [
        [
          {
            "node": "Occurred Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Occurred Before": {
      "main": [
        [
          {
            "node": "Standard JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check XEN Watcher is available1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Get Folder Details: Inbox1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Folder Details: Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - Every 2 Minute(s)": {
      "main": [
        [
          {
            "node": "Trigger by normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Trigger by normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "trigger by cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set watcherBaseURL": {
      "main": [
        [
          {
            "node": "Check XEN Watcher is available1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger by cleanup": {
      "main": [
        [
          {
            "node": "Set watcherBaseURL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger by normal": {
      "main": [
        [
          {
            "node": "Set watcherBaseURL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standard JSON": {
      "main": [
        [
          {
            "node": "If Email has Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email has Attachments": {
      "main": [
        [
          {
            "node": "Get Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email without Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-15T17:41:46.991Z",
  "id": "8",
  "name": "Dev: O365 Download Emails Attachments",
  "nodes": [
    {
      "parameters": {},
      "id": "0381c41d-eca5-479f-9e26-1b6e9dc087d2",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -820,
        460
      ]
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "operation": "getAll",
        "folderId": "={{ $json.id }}",
        "additionalFields": {
          "fields": ""
        }
      },
      "id": "9802cb15-e10a-4d1e-a7ec-4bfc57eb77f3",
      "name": "List Messages in Folder",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        540,
        500
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "Inbox",
        "additionalFields": {}
      },
      "id": "00dc2204-3426-4311-9b48-9ec6301b9b3a",
      "name": "Get Folder Details: Inbox",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        160,
        520
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "id": "67acaca6-db49-4772-9b89-56a83d230357",
      "name": "Get Attachments",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        1340,
        304
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $json.s3Bucket }}",
        "fileName": "={{ $json.s3Filename }}",
        "additionalFields": {}
      },
      "id": "4ee423ad-58e3-4365-8f2d-5df1944d3fd8",
      "name": "AWS S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        2040,
        404
      ],
      "credentials": {
        "aws": {
          "id": "22",
          "name": "AWS - Dev - emma.perkins"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isInline }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "27f14a97-be69-4fe2-b7e8-d2babc96c665",
      "name": "Do not include Inline Attachments",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1540,
        204
      ]
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "attachmentId": "={{ $json.id }}"
      },
      "id": "91d98951-aa6d-4692-8d6d-b40fe617b2b4",
      "name": "Download Attachment",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        1820,
        204
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {},
      "id": "c37c0ec3-5310-4252-b59e-c3b8a60bc9c1",
      "name": "IF Upload Successfully",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2200,
        404
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set watcherBaseURL').item.json.watcherBaseURL }}new-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"attachment\": { \"bucketSource\": \"{{ $('Set s3 Bucketname').item.json.s3Bucket }}\", \"sourceKey\": \"{{ $('Set s3Filename').item.json.s3Filename }}\" },\n  \"sender\": {\n    \"name\": \"{{ $('Standard JSON').item.json.sender.emailAddress.name }}\",\n    \"address\": \"{{ $('Standard JSON').item.json.sender.emailAddress.address }}\"\n  },\n  \"subject\": \"{{ $('Standard JSON').item.json.subject }}\",\n  \"mailbox\": \"dev.import@three-media.tv\"\n} ",
        "options": {}
      },
      "id": "9f3e6470-3a6a-4d21-a03a-f0ad6f5721da",
      "name": "Post request to XEN Watcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2040,
        604
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "s3Filename",
              "value": "={{$now.toMillis()}}-{{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "45d447f1-3fad-48fe-a8e9-c506d6fa5fae",
      "name": "Set s3Filename",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1740,
        404
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set watcherBaseURL').item.json.watcherBaseURL }}new-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"attachment\": null,\n  \"sender\": {\n    \"name\": \"{{ $('Standard JSON').item.json.sender.emailAddress.name }}\",\n    \"address\": \"{{ $('Standard JSON').item.json.sender.emailAddress.address }}\"\n  },\n  \"subject\": \"{{ $('Standard JSON').item.json.subject }}\",\n  \"mailbox\": \"dev.import@three-media.tv\"\n} ",
        "options": {}
      },
      "id": "72ea90bb-47b0-4132-b973-bb79ba1a77bf",
      "name": "Post request to XEN Watcher (without an Attachment)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        584
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "bucketName": "={{ $('Set s3 Bucketname').item.json.s3Bucket }}",
        "fileKey": "={{ $('Set s3Filename').item.json.s3Filename }}",
        "options": {}
      },
      "id": "00981e1d-bd11-4978-8b3c-8943ed7a0a32",
      "name": "AWS Delete file in S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        2200,
        604
      ],
      "credentials": {
        "aws": {
          "id": "22",
          "name": "AWS - Dev - emma.perkins"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "s3Bucket",
              "value": "=n8n-dev-778524526775"
            }
          ]
        },
        "options": {}
      },
      "id": "3112cfb1-f470-43b2-9f37-7ff9e2caadbe",
      "name": "Set s3 Bucketname",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1900,
        404
      ]
    },
    {
      "parameters": {
        "content": "## Move Processed emails",
        "height": 287.17880375987085,
        "width": 444.8407829440106
      },
      "id": "599665da-87c4-4c63-b957-7d77e31cd26a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1940,
        840
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "updateFields": {
          "isRead": true
        }
      },
      "id": "98086bf0-6abe-4dd8-a8cc-dccf9adda341",
      "name": "Microsoft Outlook - Mark as Read",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        1994,
        920
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {},
      "id": "84c5081c-3e6e-4c67-b05d-d773ad138933",
      "name": "Email without Attachment",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        584
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "folderId": "AAMkADdmMmM0ZWZlLWMwNWItNDVmNi1hNzliLWUwY2FlMjE1NTBmMQAuAAAAAAAga9nRB9gCT5yws-HML9_WAQDpgbEEdBHARa1Wr-wf85GsAAAKTAUuAAA="
      },
      "id": "2f54de33-a88b-4621-afea-8967e67e3afa",
      "name": "Microsoft Outlook - Move to Ingested",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        2174,
        920
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "1665933b-3f44-4b95-bdcb-fb6b51ed57dc",
      "name": "Schedule Trigger - Every 2 Minute(s)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -820,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.unreadItemCount > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "3347a210-bcdd-441a-9bbf-5217d3e10e0f",
      "name": "IF Inbox has unread messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        520
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 33
            }
          ]
        }
      },
      "id": "894cd826-ab20-4ce2-8ac8-152a72ca62ec",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -820,
        260
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "Inbox",
        "additionalFields": {}
      },
      "id": "cb271497-4c54-4fc8-8d2c-fca642e7824c",
      "name": "Get Folder Details: Inbox1",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        160,
        320
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.totalItemCount - $json.unreadItemCount > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "44856d5b-0ef0-4666-aed5-6f77e7e7b730",
      "name": "IF Inbox has unread messages1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        340,
        320
      ]
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "operation": "getAll",
        "folderId": "={{ $json.id }}",
        "additionalFields": {
          "filter": "=isRead eq true"
        }
      },
      "id": "7f143e3a-42be-42ec-9dc8-4a0ac57b4775",
      "name": "List Messages in Folder1",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        540,
        300
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.receivedDateTime }}",
              "operation": "before",
              "value2": "={{ $now.minus({ \"minutes\": 10 }) }}"
            }
          ]
        }
      },
      "id": "0e4838fa-d600-40d7-bcfc-44648420d28d",
      "name": "Occurred Before",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.watcherBaseURL }}health-check ",
        "options": {}
      },
      "id": "d8569b18-8b7f-4ba2-a8b8-f9cefa96cb5d",
      "name": "Check XEN Watcher is available1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -240,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Set watcherBaseURL').item.json.triggerBy }}",
              "value2": "cleanup"
            }
          ]
        }
      },
      "id": "5f6a5343-112b-417f-8ba9-63daa9ce4994",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        420
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "watcherBaseURL",
              "value": "=https://demo.xenpipeline.com/watcher/"
            }
          ]
        },
        "options": {}
      },
      "id": "28a3c901-3b0b-49db-8ae4-a38184d23943",
      "name": "Set watcherBaseURL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -380,
        420
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "triggerBy",
              "value": "cleanup"
            }
          ]
        },
        "options": {}
      },
      "id": "c5987511-680f-4079-aa00-76a29fda400c",
      "name": "trigger by cleanup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -580,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "triggerBy",
              "value": "normal"
            }
          ]
        },
        "options": {}
      },
      "id": "880e4d2f-c1e4-45f5-ad9d-2f7f01aae436",
      "name": "Trigger by normal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -580,
        560
      ]
    },
    {
      "parameters": {},
      "id": "a4609eab-c05f-40cb-a5e4-7e77226dcfe1",
      "name": "Standard JSON",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        380
      ]
    },
    {
      "parameters": {
        "content": "## Setting up Environments \n\n",
        "height": 700.7295805392414,
        "width": 935.8954601722411
      },
      "id": "ac8c76eb-2878-4b7c-8acc-a3d3cfeacc6f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        180
      ]
    },
    {
      "parameters": {
        "content": "## Collecting Emails\n",
        "height": 695.9102190478993,
        "width": 905.3955374718269
      },
      "id": "9cf76a80-930b-484d-aaab-516853f9d68d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        180
      ]
    },
    {
      "parameters": {
        "content": "## Attachment Handling",
        "height": 621.7684693780386,
        "width": 1306.236222695818
      },
      "id": "0fb13dc1-5e52-4156-8aac-9007c0403188",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasAttachments }}",
              "value2": true
            }
          ]
        }
      },
      "id": "57d93948-fcc4-4a26-9b7f-e54233432520",
      "name": "If Email has Attachments",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        380
      ]
    },
    {
      "parameters": {},
      "id": "f4b993c6-06ea-4cae-ab5a-41e49fed5996",
      "name": "No Emails, do nothing. Exit.",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        540,
        700
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger - Every 1 Minute(s)": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger - Every 2 Minute(s)": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-06-20T09:01:02.426Z",
  "versionId": "349a9a4f-40d2-4082-b98c-880642c9a111"
}