workflows/Dev: O365 Download Emails Attachments.json
{
  "active": true,
  "connections": {
    "List Messages in Folder": {
      "main": [
        [
          {
            "node": "Standard JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Details: Inbox": {
      "main": [
        [
          {
            "node": "IF Inbox has unread messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachments": {
      "main": [
        [
          {
            "node": "Do not include Inline Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do not include Inline Attachments": {
      "main": [
        [
          {
            "node": "switch on env4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Attachment": {
      "main": [
        [
          {
            "node": "Set s3Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S3": {
      "main": [
        [
          {
            "node": "IF Upload Successfully",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Upload Successfully": {
      "main": [
        [
          {
            "node": "Post request to XEN Watcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set s3Filename": {
      "main": [
        [
          {
            "node": "Set s3 Bucketname",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post request to XEN Watcher": {
      "main": [
        [
          {
            "node": "AWS Delete file in S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set s3 Bucketname": {
      "main": [
        [
          {
            "node": "switch on env6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook - Mark as Read": {
      "main": [
        [
          {
            "node": "Microsoft Outlook - Move to Ingested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Delete file in S3": {
      "main": [
        [
          {
            "node": "switch on env5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email without Attachment": {
      "main": [
        [
          {
            "node": "Post request to XEN Watcher (without an Attachment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post request to XEN Watcher (without an Attachment)": {
      "main": [
        [
          {
            "node": "switch on env5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Inbox has unread messages": {
      "main": [
        [
          {
            "node": "List Messages in Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Emails, do nothing. Exit.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Details: Inbox1": {
      "main": [
        [
          {
            "node": "IF Inbox has unread messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Inbox has unread messages1": {
      "main": [
        [
          {
            "node": "switch on env2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Emails, do nothing. Exit.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Messages in Folder1": {
      "main": [
        [
          {
            "node": "Occurred Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Occurred Before": {
      "main": [
        [
          {
            "node": "Standard JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check XEN Watcher is available1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "switch on env1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "switch on env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - Every 2 Minute(s)": {
      "main": [
        [
          {
            "node": "Trigger by normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Trigger by normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "trigger by cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standard JSON": {
      "main": [
        [
          {
            "node": "If Email has Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email has Attachments": {
      "main": [
        [
          {
            "node": "switch on env3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email without Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger by cleanup": {
      "main": [
        [
          {
            "node": "doing nothing - looks cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger by normal": {
      "main": [
        [
          {
            "node": "doing nothing - looks cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "doing nothing - looks cleaner": {
      "main": [
        [
          {
            "node": "set dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "set Demo",
            "type": "main",
            "index": 0
          },
          {
            "node": "set prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set Demo": {
      "main": [
        [
          {
            "node": "unified json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set prod": {
      "main": [
        [
          {
            "node": "unified json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set dev": {
      "main": [
        [
          {
            "node": "unified json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unified json": {
      "main": [
        [
          {
            "node": "Check XEN Watcher is available1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Details: Inbox2": {
      "main": [
        [
          {
            "node": "IF Inbox has unread messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Details: Inbox3": {
      "main": [
        [
          {
            "node": "IF Inbox has unread messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch on env": {
      "main": [
        [
          {
            "node": "Get Folder Details: Inbox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Folder Details: Inbox2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Folder Details: Inbox3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch on env1": {
      "main": [
        [
          {
            "node": "Get Folder Details: Inbox1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Folder Details: Inbox4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Folder Details: Inbox5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Details: Inbox4": {
      "main": [
        [
          {
            "node": "IF Inbox has unread messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Details: Inbox5": {
      "main": [
        [
          {
            "node": "IF Inbox has unread messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Messages in Folder2": {
      "main": [
        [
          {
            "node": "Occurred Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Messages in Folder3": {
      "main": [
        [
          {
            "node": "Occurred Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch on env2": {
      "main": [
        [
          {
            "node": "List Messages in Folder1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Messages in Folder2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Messages in Folder3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachments2": {
      "main": [
        [
          {
            "node": "Do not include Inline Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachments1": {
      "main": [
        [
          {
            "node": "Do not include Inline Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch on env3": {
      "main": [
        [
          {
            "node": "Get Attachments2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Attachments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Attachment1": {
      "main": [
        [
          {
            "node": "Set s3Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Attachment2": {
      "main": [
        [
          {
            "node": "Set s3Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch on env4": {
      "main": [
        [
          {
            "node": "Download Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Attachment1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Attachment2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook - Mark as Read1": {
      "main": [
        [
          {
            "node": "Microsoft Outlook - Move to Ingested1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook - Mark as Read2": {
      "main": [
        [
          {
            "node": "Microsoft Outlook - Move to Ingested2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch on env5": {
      "main": [
        [
          {
            "node": "Microsoft Outlook - Mark as Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft Outlook - Mark as Read1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft Outlook - Mark as Read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch on env6": {
      "main": [
        [
          {
            "node": "AWS S3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AWS S31",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AWS S32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S31": {
      "main": [
        [
          {
            "node": "IF Upload Successfully",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S32": {
      "main": [
        [
          {
            "node": "IF Upload Successfully",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-15T17:41:46.991Z",
  "id": "8",
  "name": "Dev: O365 Download Emails Attachments",
  "nodes": [
    {
      "parameters": {},
      "id": "0381c41d-eca5-479f-9e26-1b6e9dc087d2",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1460,
        600
      ]
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "operation": "getAll",
        "folderId": "={{ $json.id }}",
        "additionalFields": {
          "fields": ""
        }
      },
      "id": "9802cb15-e10a-4d1e-a7ec-4bfc57eb77f3",
      "name": "List Messages in Folder",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        400,
        720
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "Inbox",
        "additionalFields": {}
      },
      "id": "00dc2204-3426-4311-9b48-9ec6301b9b3a",
      "name": "Get Folder Details: Inbox",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -20,
        600
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "id": "67acaca6-db49-4772-9b89-56a83d230357",
      "name": "Get Attachments",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        1420,
        180
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $json.s3Bucket }}",
        "fileName": "={{ $json.s3Filename }}",
        "additionalFields": {}
      },
      "id": "4ee423ad-58e3-4365-8f2d-5df1944d3fd8",
      "name": "AWS S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        2600,
        160
      ],
      "credentials": {
        "aws": {
          "id": "22",
          "name": "AWS - Dev - emma.perkins"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isInline }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "27f14a97-be69-4fe2-b7e8-d2babc96c665",
      "name": "Do not include Inline Attachments",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1640,
        180
      ]
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "attachmentId": "={{ $json.id }}"
      },
      "id": "91d98951-aa6d-4692-8d6d-b40fe617b2b4",
      "name": "Download Attachment",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        2040,
        0
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {},
      "id": "c37c0ec3-5310-4252-b59e-c3b8a60bc9c1",
      "name": "IF Upload Successfully",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2900,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('set Demo').item.json.watcherBaseURL }}new-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"attachment\": { \"bucketSource\": \"{{ $('Set s3 Bucketname').item.json.s3Bucket }}\", \"sourceKey\": \"{{ $('Set s3Filename').item.json.s3Filename }}\" },\n  \"sender\": {\n    \"name\": \"{{ $('Standard JSON').item.json.sender.emailAddress.name }}\",\n    \"address\": \"{{ $('Standard JSON').item.json.sender.emailAddress.address }}\"\n  },\n  \"subject\": \"{{ $('Standard JSON').item.json.subject }}\",\n  \"mailbox\": \"dev.import@three-media.tv\"\n} ",
        "options": {}
      },
      "id": "9f3e6470-3a6a-4d21-a03a-f0ad6f5721da",
      "name": "Post request to XEN Watcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2260,
        780
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "s3Filename",
              "value": "={{$now.toMillis()}}-{{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "45d447f1-3fad-48fe-a8e9-c506d6fa5fae",
      "name": "Set s3Filename",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2280,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('set Demo').item.json.watcherBaseURL }}new-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"attachment\": null,\n  \"sender\": {\n    \"name\": \"{{ $('Standard JSON').item.json.sender.emailAddress.name }}\",\n    \"address\": \"{{ $('Standard JSON').item.json.sender.emailAddress.address }}\"\n  },\n  \"subject\": \"{{ $('Standard JSON').item.json.subject }}\",\n  \"mailbox\": \"dev.import@three-media.tv\"\n} ",
        "options": {}
      },
      "id": "72ea90bb-47b0-4132-b973-bb79ba1a77bf",
      "name": "Post request to XEN Watcher (without an Attachment)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        584
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "bucketName": "={{ $('Set s3 Bucketname').item.json.s3Bucket }}",
        "fileKey": "={{ $('Set s3Filename').item.json.s3Filename }}",
        "options": {}
      },
      "id": "00981e1d-bd11-4978-8b3c-8943ed7a0a32",
      "name": "AWS Delete file in S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        2460,
        780
      ],
      "credentials": {
        "aws": {
          "id": "22",
          "name": "AWS - Dev - emma.perkins"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "s3Bucket",
              "value": "=n8n-dev-778524526775"
            }
          ]
        },
        "options": {}
      },
      "id": "3112cfb1-f470-43b2-9f37-7ff9e2caadbe",
      "name": "Set s3 Bucketname",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2440,
        20
      ]
    },
    {
      "parameters": {
        "content": "## Move Processed emails",
        "height": 637.799825397689,
        "width": 687.5983613999413
      },
      "id": "599665da-87c4-4c63-b957-7d77e31cd26a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1860,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "updateFields": {
          "isRead": true
        }
      },
      "id": "98086bf0-6abe-4dd8-a8cc-dccf9adda341",
      "name": "Microsoft Outlook - Mark as Read",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        2200,
        1260
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {},
      "id": "84c5081c-3e6e-4c67-b05d-d773ad138933",
      "name": "Email without Attachment",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        584
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "folderId": "AAMkADdmMmM0ZWZlLWMwNWItNDVmNi1hNzliLWUwY2FlMjE1NTBmMQAuAAAAAAAga9nRB9gCT5yws-HML9_WAQDpgbEEdBHARa1Wr-wf85GsAAAKTAUuAAA="
      },
      "id": "2f54de33-a88b-4621-afea-8967e67e3afa",
      "name": "Microsoft Outlook - Move to Ingested",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        2360,
        1260
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "1665933b-3f44-4b95-bdcb-fb6b51ed57dc",
      "name": "Schedule Trigger - Every 2 Minute(s)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1460,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.unreadItemCount > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "3347a210-bcdd-441a-9bbf-5217d3e10e0f",
      "name": "IF Inbox has unread messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        780
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 33
            }
          ]
        }
      },
      "id": "894cd826-ab20-4ce2-8ac8-152a72ca62ec",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1460,
        400
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "Inbox",
        "additionalFields": {}
      },
      "id": "cb271497-4c54-4fc8-8d2c-fca642e7824c",
      "name": "Get Folder Details: Inbox1",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -20,
        -20
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.totalItemCount - $json.unreadItemCount > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "44856d5b-0ef0-4666-aed5-6f77e7e7b730",
      "name": "IF Inbox has unread messages1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        180,
        240
      ]
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "operation": "getAll",
        "folderId": "={{ $json.id }}",
        "additionalFields": {
          "filter": "=isRead eq true"
        }
      },
      "id": "7f143e3a-42be-42ec-9dc8-4a0ac57b4775",
      "name": "List Messages in Folder1",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        580,
        -80
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.receivedDateTime }}",
              "operation": "before",
              "value2": "={{ $now.minus({ \"minutes\": 10 }) }}"
            }
          ]
        }
      },
      "id": "0e4838fa-d600-40d7-bcfc-44648420d28d",
      "name": "Occurred Before",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        780,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.watcherBaseURL }}health-check ",
        "options": {}
      },
      "id": "d8569b18-8b7f-4ba2-a8b8-f9cefa96cb5d",
      "name": "Check XEN Watcher is available1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -620,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('unified json').item.json.triggerBy }}",
              "value2": "cleanup"
            }
          ]
        }
      },
      "id": "5f6a5343-112b-417f-8ba9-63daa9ce4994",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -460,
        540
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "triggerBy",
              "value": "cleanup"
            }
          ]
        },
        "options": {}
      },
      "id": "c5987511-680f-4079-aa00-76a29fda400c",
      "name": "trigger by cleanup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1300,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "triggerBy",
              "value": "normal"
            }
          ]
        },
        "options": {}
      },
      "id": "880e4d2f-c1e4-45f5-ad9d-2f7f01aae436",
      "name": "Trigger by normal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1300,
        700
      ]
    },
    {
      "parameters": {},
      "id": "a4609eab-c05f-40cb-a5e4-7e77226dcfe1",
      "name": "Standard JSON",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "content": "## Setting up Environments \n\n",
        "height": 700.7295805392414,
        "width": 1219.284507739997
      },
      "id": "ac8c76eb-2878-4b7c-8acc-a3d3cfeacc6f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Collecting Emails\n",
        "height": 1502.9502002283798,
        "width": 1276.3500567821761
      },
      "id": "9cf76a80-930b-484d-aaab-516853f9d68d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -163.37916410327625
      ]
    },
    {
      "parameters": {
        "content": "## Attachment Handling",
        "height": 1122.0933893995616,
        "width": 2020.0544492165986
      },
      "id": "0fb13dc1-5e52-4156-8aac-9007c0403188",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        -35.84699324617998
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasAttachments }}",
              "value2": true
            }
          ]
        }
      },
      "id": "57d93948-fcc4-4a26-9b7f-e54233432520",
      "name": "If Email has Attachments",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        380
      ]
    },
    {
      "parameters": {},
      "id": "f4b993c6-06ea-4cae-ab5a-41e49fed5996",
      "name": "No Emails, do nothing. Exit.",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        380,
        920
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "watcherBaseURL",
              "value": "=https://demo.xenpipeline.com/watcher/"
            },
            {
              "name": "env",
              "value": "demo"
            }
          ]
        },
        "options": {}
      },
      "id": "28a3c901-3b0b-49db-8ae4-a38184d23943",
      "name": "set Demo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -960,
        540
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "watcherBaseURL",
              "value": "=https://demo.xenpipeline.com/watcher/"
            },
            {
              "name": "env",
              "value": "prod"
            }
          ]
        },
        "options": {}
      },
      "id": "caa9d45a-f062-4651-8aee-a948d7e9d946",
      "name": "set prod",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -960,
        700
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "watcherBaseURL",
              "value": "=https://demo.xenpipeline.com/watcher/"
            },
            {
              "name": "env",
              "value": "dev"
            }
          ]
        },
        "options": {}
      },
      "id": "ecf317a7-81c0-4ca4-8ef8-64767a900d77",
      "name": "set dev",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -960,
        400
      ]
    },
    {
      "parameters": {},
      "id": "cc96fbbc-9129-44e5-a2e2-8525e9a5d053",
      "name": "doing nothing - looks cleaner",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1160,
        540
      ]
    },
    {
      "parameters": {},
      "id": "d93ab20c-aa26-4bf7-ba31-16b1e8d8770e",
      "name": "unified json",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -780,
        540
      ]
    },
    {
      "parameters": {},
      "id": "62a94451-e9a7-47cd-bdc5-8e1f7a44d935",
      "name": "No Emails, do nothing. Exit.1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        480
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "Inbox",
        "additionalFields": {}
      },
      "id": "3c542dc3-5051-4a72-aead-846d4e869f74",
      "name": "Get Folder Details: Inbox2",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -20,
        780
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "Inbox",
        "additionalFields": {}
      },
      "id": "da2ff902-f62b-4b65-b9a5-c3e76ce9c3b6",
      "name": "Get Folder Details: Inbox3",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -20,
        980
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('unified json').item.json.env }}",
        "rules": {
          "rules": [
            {
              "value2": "dev"
            },
            {
              "value2": "demo",
              "output": 1
            },
            {
              "value2": "prod",
              "output": 2
            }
          ]
        }
      },
      "id": "c6dce5f7-ad41-49eb-8da9-3abf51e19245",
      "name": "switch on env",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -220,
        780
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('unified json').item.json.env }}",
        "rules": {
          "rules": [
            {
              "value2": "dev"
            },
            {
              "value2": "demo",
              "output": 1
            },
            {
              "value2": "prod",
              "output": 2
            }
          ]
        }
      },
      "id": "fb57c999-6429-44ec-bdee-714ce4c7c0c8",
      "name": "switch on env1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -220,
        260
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "Inbox",
        "additionalFields": {}
      },
      "id": "941b29ee-9d05-443b-99d1-80eded08cad4",
      "name": "Get Folder Details: Inbox4",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -20,
        220
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "Inbox",
        "additionalFields": {}
      },
      "id": "50c355f1-f790-48a9-8cba-a968362b9a9f",
      "name": "Get Folder Details: Inbox5",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -20,
        400
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "operation": "getAll",
        "folderId": "={{ $json.id }}",
        "additionalFields": {
          "filter": "=isRead eq true"
        }
      },
      "id": "43c5517d-16a9-4ff4-a1bd-2e05b24c366f",
      "name": "List Messages in Folder2",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        580,
        120
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "operation": "getAll",
        "folderId": "={{ $json.id }}",
        "additionalFields": {
          "filter": "=isRead eq true"
        }
      },
      "id": "28edac27-09d2-4bd5-ab11-0f4c4eb396b8",
      "name": "List Messages in Folder3",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        580,
        320
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('unified json').item.json.env }}",
        "rules": {
          "rules": [
            {
              "value2": "dev"
            },
            {
              "value2": "demo",
              "output": 1
            },
            {
              "value2": "prod",
              "output": 2
            }
          ]
        }
      },
      "id": "4947f528-befd-408a-933d-d65e4cfab92d",
      "name": "switch on env2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "id": "17b9e29e-9e8b-4abb-a549-bfc7ba2d260c",
      "name": "Get Attachments1",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        1420,
        360
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "id": "62ce3b5f-1401-4ff6-9138-1d94f51ad2a8",
      "name": "Get Attachments2",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        1420,
        0
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('unified json').item.json.env }}",
        "rules": {
          "rules": [
            {
              "value2": "dev"
            },
            {
              "value2": "demo",
              "output": 1
            },
            {
              "value2": "prod",
              "output": 2
            }
          ]
        }
      },
      "id": "9c4524f5-706d-4e06-aa28-2fd00004b835",
      "name": "switch on env3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('unified json').item.json.env }}",
        "rules": {
          "rules": [
            {
              "value2": "dev"
            },
            {
              "value2": "demo",
              "output": 1
            },
            {
              "value2": "prod",
              "output": 2
            }
          ]
        }
      },
      "id": "464031ca-a335-44e9-89da-d5500680ce94",
      "name": "switch on env4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1820,
        180
      ]
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "attachmentId": "={{ $json.id }}"
      },
      "id": "4d1966aa-e65e-4ece-97b6-2d6c57ed2fe5",
      "name": "Download Attachment1",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        2040,
        160
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "attachmentId": "={{ $json.id }}"
      },
      "id": "9027e86d-14c8-4a05-bc40-09109de3d2d7",
      "name": "Download Attachment2",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        2040,
        340
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('unified json').item.json.env }}",
        "rules": {
          "rules": [
            {
              "value2": "dev"
            },
            {
              "value2": "demo",
              "output": 1
            },
            {
              "value2": "prod",
              "output": 2
            }
          ]
        }
      },
      "id": "69d3ac59-f365-4b5b-97aa-06a13c0b49ba",
      "name": "switch on env5",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1940,
        1480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "updateFields": {
          "isRead": true
        }
      },
      "id": "5eb90ed5-bfb9-4f00-a079-bcdb490f1ebf",
      "name": "Microsoft Outlook - Mark as Read1",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        2180,
        1460
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "folderId": "AAMkADdmMmM0ZWZlLWMwNWItNDVmNi1hNzliLWUwY2FlMjE1NTBmMQAuAAAAAAAga9nRB9gCT5yws-HML9_WAQDpgbEEdBHARa1Wr-wf85GsAAAKTAUuAAA="
      },
      "id": "5c15505d-b1b5-4ed7-9c06-a015daee8d4f",
      "name": "Microsoft Outlook - Move to Ingested1",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        2340,
        1460
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "updateFields": {
          "isRead": true
        }
      },
      "id": "2f95df0d-4cd5-492c-9de4-b043c5f2f849",
      "name": "Microsoft Outlook - Mark as Read2",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        2200,
        1660
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": "={{ $('Standard JSON').item.json.id }}",
        "folderId": "AAMkADdmMmM0ZWZlLWMwNWItNDVmNi1hNzliLWUwY2FlMjE1NTBmMQAuAAAAAAAga9nRB9gCT5yws-HML9_WAQDpgbEEdBHARa1Wr-wf85GsAAAKTAUuAAA="
      },
      "id": "4199bfb9-d31b-4cab-bafe-4e73a34b1388",
      "name": "Microsoft Outlook - Move to Ingested2",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        2360,
        1660
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "13",
          "name": "Microsoft: OAuth - Dev XENPipeline Email Attachment Collector"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('unified json').item.json.env }}",
        "rules": {
          "rules": [
            {
              "value2": "dev"
            },
            {
              "value2": "demo",
              "output": 1
            },
            {
              "value2": "prod",
              "output": 2
            }
          ]
        }
      },
      "id": "c7d253f3-ad1a-41dd-8087-aebd0fcd915d",
      "name": "switch on env6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2400,
        280
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $json.s3Bucket }}",
        "fileName": "={{ $json.s3Filename }}",
        "additionalFields": {}
      },
      "id": "beceedf1-4287-423f-9206-4cea494eea0c",
      "name": "AWS S31",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        2600,
        300
      ],
      "credentials": {
        "aws": {
          "id": "22",
          "name": "AWS - Dev - emma.perkins"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $json.s3Bucket }}",
        "fileName": "={{ $json.s3Filename }}",
        "additionalFields": {}
      },
      "id": "af9bfa55-ab97-446d-a17d-66caaa376e0c",
      "name": "AWS S32",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        2600,
        440
      ],
      "credentials": {
        "aws": {
          "id": "22",
          "name": "AWS - Dev - emma.perkins"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger - Every 1 Minute(s)": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger - Every 2 Minute(s)": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-06-21T14:44:22.587Z",
  "versionId": "f8b4a318-4e4d-43d1-940f-77f65cfbadbb"
}