workflows/Social media distribution Better.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond with excution id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Which ENV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Proper YouTube Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS DEV": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS DEMO": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS PROD": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which ENV": {
      "main": [
        [
          {
            "node": "AWS DEV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AWS DEMO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AWS PROD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-12T19:39:06.208Z",
  "id": "5",
  "name": "Social media distribution Better",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "distrubute",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "098c3b4b-5dec-4e7c-b996-a83ac678bba0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        120,
        500
      ],
      "webhookId": "f2a51186-e711-4143-8514-5c3633879a78"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.socialChannel }}",
        "rules": {
          "rules": [
            {
              "value2": "YouTube"
            },
            {
              "value2": "Twitter",
              "output": 1
            },
            {
              "value2": "Facebook",
              "output": 2
            }
          ]
        }
      },
      "id": "75ee5b22-98a8-41f7-b57b-7f515d73837e",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1100,
        480
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.body.title }}\n\n{{ $json.body.description }}",
        "additionalFields": {
          "attachments": "videoPlayer"
        }
      },
      "id": "01ef6e79-9381-42f8-9e22-6da6b777f79b",
      "name": "Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [
        1680,
        460
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "15",
          "name": "Twitter OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.body.title }}",
        "regionCode": "={{ $json.body.regionCode }}",
        "categoryId": "={{ $json.body.categoryID }}",
        "binaryProperty": "=videoPlayer",
        "options": {
          "defaultLanguage": "={{ $json.body.defaultLanguage }}",
          "description": "={{ $json.body.description }}",
          "privacyStatus": "={{ $json.body.privacyStatus }}",
          "publicStatsViewable": "={{ $json.body.publicStatsViewable }}",
          "selfDeclaredMadeForKids": "={{ $json.body.selfDeclaredMadeForKids }}",
          "tags": "={{ $json.body.tags.join(\",\") }}"
        }
      },
      "id": "49a9a086-70ca-46c4-a7bc-35ee15dd607d",
      "name": "Proper YouTube Upload",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1500,
        240
      ],
      "retryOnFail": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "19",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/108287252301385/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "appsecret_proof",
              "value": "f9676335e9043f8d9152af9df0f686773f208807e28b82f8ae54ebb3c05abd93"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "source",
              "inputDataFieldName": "videoPlayer"
            },
            {
              "name": "description",
              "value": "={{ $json.body.description }}"
            },
            {
              "name": "title",
              "value": "={{ $json.body.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "44b36e1b-92f0-4c57-9e5b-e73975ac540c",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        660
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "21",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const binaryData = this.helpers.assertBinaryData(0, 'videoPlayer');\nconst fileContent = Buffer.from(binaryData.data, \"base64\");\nconst contentLength = fileContent.length;\nconst mimeType = binaryData.mimeType;\n\nlet offset = 0;\nconst data = []\nconst chunkSize = 500 * 1024; // Chunk size set to 500KB.\n\nwhile (offset < contentLength) {\n    const chunk = fileContent.slice(offset, offset + chunkSize);\n    const nextOffset = offset + chunk.length;\n    data.push({\n        'Content-Length': chunk.length,\n        'Content-Range': `bytes ${offset}-${nextOffset - 1}/${contentLength}`,\n        chunk\n    });\n    offset = nextOffset;\n}\n\nreturn data;\n"
      },
      "id": "91eee60b-7383-49e8-8e2e-236085a2f7f4",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1500,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "bucketName": "={{ $json.body.sourceBucket }}",
        "fileKey": "={{ $json.body.sourceKey }}",
        "binaryPropertyName": "videoPlayer"
      },
      "id": "6b694dcb-d529-489d-b617-bf096706af62",
      "name": "AWS DEV",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        760,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "aws": {
          "id": "14",
          "name": "AWS - Demo - tma.demo.s3"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "={{ $json.body.sourceBucket }}",
        "fileKey": "={{ $json.body.sourceKey }}",
        "binaryPropertyName": "videoPlayer"
      },
      "id": "ebbc05aa-6664-4050-a3c9-696f6a57e2ba",
      "name": "AWS DEMO",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        760,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "aws": {
          "id": "14",
          "name": "AWS - Demo - tma.demo.s3"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "={{ $json.body.sourceBucket }}",
        "fileKey": "={{ $json.body.sourceKey }}",
        "binaryPropertyName": "videoPlayer"
      },
      "id": "3e29c97a-7053-4834-af3a-74d37c4c0635",
      "name": "AWS PROD",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        760,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "aws": {
          "id": "14",
          "name": "AWS - Demo - tma.demo.s3"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.env }}",
        "rules": {
          "rules": [
            {
              "value2": "DEV"
            },
            {
              "value2": "DEMO",
              "output": 1
            },
            {
              "value2": "PROD",
              "output": 2
            }
          ]
        }
      },
      "id": "34b07422-d05c-45fd-a7db-fdad4eb698f7",
      "name": "Which ENV",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={ \"message\": \"Workflow Started\", \"excutionId\": {{ $execution.id }}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "280aabdc-c2ed-48d0-aee5-48432f1faf7b",
      "name": "Respond with excution id",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        340
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-21T13:25:05.987Z",
  "versionId": "7d047bf8-c350-4ac9-9c2e-77c146f12073"
}